@using oblig2_Yevhen_Verkhalantsev.Services.UserServices
@inject ICurrentUserContext currentUserContext

<div class="row">
    <div class="col-md-4">
        
    </div>
    
    <div class="col-md-4">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Blog Form</h6>
            
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" id="blog-name" style="margin-bottom: 10px">
                <div class="alert alert-danger d-none" id="blog-name-error-label"></div>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="isOpen">
                <label class="form-check-label" for="exampleCheck1">Open Blog</label>
            </div>
            
            <button id="btnCreate" type="button" style="margin-bottom: 10px" class="btn btn-primary">Create</button>
            
            <div id="create-success-label" class="alert alert-success d-none">
                Created successfully!
            </div>
            <div id="create-error-label" class="alert alert-danger d-none">
                Error on created!
            </div>
            
        </div>
    </div>
</div>

@section Scripts{
    <script>
    $("#btnCreate").on("click", ()=>{
        let name = $("#blog-name").val()
        if (name == ""){
            $("#blog-name-error-label").removeClass("d-none")
            document.getElementById("blog-name-error-label").innerHTML = "Title is empty!"
            return
        }

        let requestData = {
            Title: $("#blog-name").val(),
            UserId: Number(@currentUserContext.Id),
            IsOpen: $("#isOpen").is(":checked")
        }
        console.log(requestData)
        let jsonData = JSON.stringify(requestData)

        $("#create-success-label").addClass("d-none")
        $("#create-error-label").addClass("d-none")
        $("#blog-name-error-label").addClass("d-none")

        $.ajax({
            url:'@Url.Action("Create", "Blog")',
                            method: 'post',
                            data: jsonData,
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
            success: (response) => {
                $("#create-success-label").removeClass("d-none")
                setTimeout(()=>{
                  $("#create-success-label").addClass("d-none")
                }, 3000)
                $("#blog-name").val("")
            },
            error: (response) => {
                let jsonResponse = JSON.parse(response.responseText)

                if (jsonResponse.hasOwnProperty("Title")){
                    $("#blog-name-error-label").removeClass("d-none")
                    document.getElementById("blog-name-error-label").innerHTML = jsonResponse.Name
                }
            }
        })

    })
    </script>
}
